# Ignore Python virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore logs
*.log
logs/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
.env.*

# Ignore IDE/Editor files
.vscode/
.idea/

# Ignore Allure report and results
allure-report/
allure-results/

# Ignore compiled binaries
*.exe
*.dll
