# Ignore Python virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore logs
*.log
logs/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
.env.*

# Ignore IDE/Editor files
.vscode/
.idea/

# Ignore Allure report and results
allure-report/
allure-results/
Test/__pycache__/conftest.cpython-312-pytest-8.3.4.pyc
# Ignore compiled binaries
*.exe
*.dll
